.diagram img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

#diagram {
   width: 700px;
   height: 400px;
}

.modal-close-button {
    padding-left: 40%;
}

.modal-open-button {
    padding-top: 0.5rem;
}