.diagram img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

#diagram {
   width: 80%;
   height: 80%;
}

.modal-close-button {
    padding-left: 40%;
}

.modal-open-button {
    padding-top: 0.5rem;
}



/* 
@media screen and (min-width: 992px) {
    .modal.modal-content {
        max-width: 200px;
        max-height: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 991) { 
    .modal.modal-content {
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (max-width: 425px) { 
    .modal.modal-content {
        max-width: 80%;
        max-height: 100%;
    }
} */