

.aboutme  {

    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
  }

.full-name {
    color: #404040;
    font-size: 3.5rem;
    /* font-family:"Verdana, Geneva, Tahoma, sans-serif"; */
    
}

.h3 {
  
    color: #696969;
}

.aboutme-right {
    color: #0066FF;
    font-size: 1.3rem;
}

.button-container-language {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.button-container-others {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
   
}

.github-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #404040;
}

.github-link a:hover {
    color: var(--color-yellow);
    transition: color;
    transition-duration: 0.5s;
}

.linkedin-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #EC5800;
}

.aboutme-texts {
    color: #696969;
    font-size: 1.2rem;
}
